<%= form_with(model: game_set) do |form| %>
  <% if game_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_set.errors.count, "error") %> prohibited this game_set from being saved:</h2>

      <ul>
        <% game_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :match_id %>
    <%= form.text_field :match_id %>
  </div>

  <div class="field">
    <%= form.label :is_first_player_win %>
    <%= form.check_box :is_first_player_win %>
  </div>

  <div class="field">
    <%= form.label :first_player_gems %>
    <%= form.number_field :first_player_gems %>
  </div>

  <div class="field">
    <%= form.label :second_player_gems %>
    <%= form.number_field :second_player_gems %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
