<p id="notice"><%= notice %></p>

<p>
  <strong>Set:</strong>
  <%= @game_gem.set_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @game_gem.match_id %>
</p>

<p>
  <strong>Is first player win:</strong>
  <%= @game_gem.is_first_player_win %>
</p>

<p>
  <strong>First player points:</strong>
  <%= @game_gem.first_player_points %>
</p>

<p>
  <strong>Second player points:</strong>
  <%= @game_gem.second_player_points %>
</p>

<p>
  <strong>Is first player serve:</strong>
  <%= @game_gem.is_first_player_serve %>
</p>

<%= link_to 'Edit', edit_game_gem_path(@game_gem) %> |
<%= link_to 'Back', game_gems_path %>
