<p id="notice"><%= notice %></p>

<p>
  <strong>Gem:</strong>
  <%= @game_point.gem_id %>
</p>

<p>
  <strong>Set:</strong>
  <%= @game_point.set_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @game_point.match_id %>
</p>

<p>
  <strong>Is first player win:</strong>
  <%= @game_point.is_first_player_win %>
</p>

<%= link_to 'Edit', edit_game_point_path(@game_point) %> |
<%= link_to 'Back', game_points_path %>
