<div class="match-page"> 
  
  <%= render "first_column" %>

  <!-- Middle Column -->
  <div class="match-info">

    <%= render "status_meca" %>
    <%= render "trenutni_rezultat_u_setovima" %>

    <!-- <p>Poslednji gem:</p>
    <p><%= @match.game_sets.last.game_gems.last.first_player_points_2 %> : <%= @match.game_sets.last.game_gems.last.second_player_points_2 %></p>
     -->

    <br><h2>Lista svih setova</h2>

    <% set_counter = @match.game_sets.count %>
    <% @match.game_sets.order(created_at: :desc).each do |set| %>
      <div class="set-container">
        <p><strong><%= set_counter %>. set na mecu (<%= set.first_player_gems %> : <%= set.second_player_gems %>)</strong></p>
        
        <% gem_counter = set.game_gems.count %>
        <% set.game_gems.order(created_at: :desc).each do |gem| %>
          <div class="gem-container">
            <p><strong><%= gem_counter %>. gem na mecu (gem_id=<%= gem.id %>)</strong></p>

            <table>
              <tr>
                <th style="color: #1E2631;">Player 1</th>
                <th style="color: #1E2631;">Player 2</th>
              </tr>
              <% gem.game_points.order(created_at: :desc).each do |point| %>
                <tr>
                  <td><%= point.current_first_player_points || 0 %></td>
                  <td><%= point.current_second_player_points || 0 %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <% gem_counter -= 1 %>
        <% end %>

        <hr/>
      </div>
      <% set_counter -= 1 %>
    <% end %>

  </div>

  <%= render "third_column" %>

  <%= link_to 'Edit', edit_match_path(@match) %> |
  <%= link_to 'Back', matches_path %>
</div>


<script>
  function handleButtonClick() {
    // Disable the button to prevent multiple clicks
    var button1 = document.getElementById("submit-button1");
    button1.disabled = true;

    var button2 = document.getElementById("submit-button2");
    button2.disabled = true;

    // Perform your desired action here, such as form submission or other functionality

    // Optional: You can re-enable the button after a certain time if needed
    setTimeout(function() {
      button1.disabled = false;
      button2.disabled = false;
    }, 3000); // Re-enable the button after 3 seconds (adjust the time as needed)
  }

  document.addEventListener("DOMContentLoaded", function () {
  const submitButton1 = document.getElementById("submit-button1");

  if (submitButton1) {
    submitButton1.addEventListener("click", function () {
      submitButton1.disabled = true;
      submitButton1.textContent = "Submitting...";
    });
  }


    const submitButton2 = document.getElementById("submit-button2");

  if (submitButton2) {
    submitButton2.addEventListener("click", function () {
      submitButton2.disabled = true;
      submitButton2.textContent = "Submitting...";
    });
  }
});
</script>

