<p id="notice"><%= notice %></p>
<div class="text-align">

<div class="match-page">
  <!-- First Column -->
  <div class="left-half">
    <div class="player">
      <p>First player</p>
      <%= image_tag "djokovic.png" %>
      <h2>
        <%= User.find(@match.first_player_id).full_name %>
      </h2>
    </div>

    <br><br><br><br><br><br><br>

    <% @first_player_id = @match.first_player_id %>
    <% if @match.game_sets.count == 0 %>
      <% @sets = 1 %>
    <% else %>
      <% @sets = @match.game_sets.count %>
    <% end %>

    <% if @match.game_sets.count == 0 %>
      <% @sets = 1 %>
    <% else %>
      <% @sets = @match.game_sets.count %>
    <% end %>

    <%= button_to 'Poen', add_point_path, method: :post, params: { 
      game_point: {
        is_first_player_win: true, 
        match_id: @match.id, 
        game_set_id: @match.game_sets.last.id, 
        game_gem_id: @match.game_sets.last.game_gems.last.id 
        }
      }, class: 'score-button' %>
    <br><br><br><br><br><br>
    <button class="resign-button">Predao meč</button>
  </div>

  <!-- Second Column -->
  <div class="match-info">
    <h2 style="padding-bottom: 25px;">Prikaz meca</h2>
     
    <% if @match.is_match_started && !@match.is_match_finished %>
      <h5>Mec je startovan</h5>
    <% elsif @match.is_match_started && @match.is_match_finished %>
      <h5>Meč je završen</h5>
    <% else %>
      <h5>Meč još nije startovan</h5>
    <% end %>

    <p style="padding-top: 15px">
      <strong>Match datetime:</strong>
      <%= @match.match_datetime %>
    </p>
    <!--
    <% @match.game_sets.each do |set| %>
      <% if set.is_first_player_win == nil %>
        0 : 0
      <% elsif !!set.is_first_player_win %>
        1 : 0
      <% elsif !set.is_first_player_win %>
        0 : 1
      <% end %>
    <% end %>
    -->
    <h2>Rezultat</h2>
    
    <p>
      <%= @match.first_player_sets %> : <%= @match.second_player_sets %>
    </p>
    
    <h1>Lista svih setova</h1>
    <% @match.game_sets.each do |set| %>
      <% if set.id %>
        <p><strong><%= set.id %>. set na meču</strong></p>
      <% else %>
        <p><strong>1. set na meču</strong></p>
      <% end %>

      <% set.game_gems.each do |gem| %>
        <% if gem.id %>
          <p><strong><%= gem.id %>. gem na meču</strong></p>
        <% else %>
          <p><strong>1. gem na meču</strong></p>
        <% end %>

        <% gem.game_points.each do |point| %>
          <% if point.is_first_player_win %>
            Dobio prvi igrač
          <% else %>
            Dobio drugi igrač
          <% end %>
          <br>
        <% end %>
        - - - - - - - -
      <% end %>
      <hr>
    <% end %>
  </div>

  <!-- Third Column -->
  <div class="right-half">
    <div class="player">
      <p>Second player</p>
      <%= image_tag "nadal.png" %>
      <h2>
        <%= User.find(@match.second_player_id).full_name %>
      </h2>
    </div>

    <br><br><br><br><br><br><br>

    <% @first_player_id = @match.second_player_id %>
    <% if @match.game_sets.count == 0 %>
      <% @sets = 1 %>
    <% else %>
      <% @sets = @match.game_sets.count %>
    <% end %>

    <% if @match.game_sets.count == 0 %>
      <% @sets = 1 %>
    <% else %>
      <% @sets = @match.game_sets.count %>
    <% end %>

    <%= button_to 'Poen', add_point_path, method: :post, params: { 
      game_point: {
        is_first_player_win: false, 
        match_id: @match.id, 
        game_set_id: @match.game_sets.last.id, 
        game_gem_id: @match.game_sets.last.game_gems.last.id 
        }
      }, class: 'score-button' %>
    <br><br><br><br><br><br>
    <button class="resign-button">Predao meč</button>
  </div>
</div>


<!--
<p>
  <strong>Is match started:</strong>
  <%= @match.is_match_started %>
</p>

<p>
  <strong>Is match finished:</strong>
  <%= @match.is_match_finished %>
</p>

<p>
  <strong>Is first player win:</strong>
  <%= @match.is_first_player_win %>
</p>

<p>
  <strong>Is first player surrender:</strong>
  <%= @match.is_first_player_surrender %>
</p>

<p>
  <strong>Is second player surrender:</strong>
  <%= @match.is_second_player_surrender %>
</p>
-->

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
